/* ---------show home page after loading logo effect -----------*/

.hide-home {
  visibility: hidden;
}

/* -----------------------------------------Start - homepage design---------------------------------------- */

/* ----------------navbar style----------------------  */
.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 3%;
  color: white;
}
.nav-list {
  margin-right: 1%;
}

/*------- start - classes added by javacript to navbar hide and show---------- */
.nav-bar-hide {
  top: -20%;
  transition: top 0.3s linear 0s;
}

.nav-bar-show {
  top: -6%;
  transition: top 0.3s linear 0s;
}
.nav-bar-lock {
  background-color: #29292a;
  position: fixed;
  align-items: center;
  width: 83vw;
  top: -6%;
  left: 8%;
  z-index: +1;
  box-shadow: 2px 12px 27px 0.7px rgb(19, 18, 18);
}
.nav-bar-logo-lock {
  padding: 1.5% 0;
  height: 21vh;
  transform: scale(0.8);
}
/*------- End - classes added by javacript to navbar hide and show---------- */
.nav-bar .logo-link{
  height: 12vh;
}
.nav-bar .logo-home {
  margin: -10% 0%;
}
.nav-bar .logo-home svg {
  width: 13vw;
  height: 17vh;
}
.nav-bar .logo-home svg:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.nav-bar .nav-list {
  margin-right: 1%;
}
.nav-bar ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  list-style: none;
}
.nav-bar ul li {
  transition: transform 0.1s linear;
}
.nav-bar ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 20px;
  font-family: var(--pri-font);
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: uppercase;
  transition: transform 0.2s ease-in;
}

.nav-bar ul a:hover {
  transform: scale(1.15);
  border-bottom: 3px solid var(--pri-color);
  margin: -2% 0;
}


/*---------- Animations styling in the logo on the home section---------------- */
@keyframes flicker {
  0%,
  3%,
  23%,
  63% {
    filter: drop-shadow(1px 1px 1px #000000);
  }
  2%,
  30%,
  50% {
    filter: drop-shadow(1px 1px 5px #130707);
  }
  10%,
  40%,
  70% {
    filter: drop-shadow(1px 1px 5px #380202);
  }
  20%,
  80%,
  90% {
    filter: drop-shadow(1px 1px 1px #790909);
  }
}

/* ------------------Social icons section css------------------------- */
.home-div-cont {
  display: flex;
}

.social-icons {
  background-color: transparent;
  color: red;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: +1;
  width: 5vw;
  bottom: 0%;
  /* height: 50vh; */
}

.social-icons ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* justify-content: space-between; */
  list-style: none;
  height: 58vh;
  width: inherit;
}

.social-icons .items svg {
  height: 5vw;
  width: 5vh;
  margin-left: 46%;
  stroke: var(--ter-color);
  position: relative;
  transition: top 0.4s ease 0s;
  top: 0;
}
.social-icons .items svg:hover {
  stroke: var(--pri-color);
  top: -8%;
}

.social-icons .git-icon svg {
  stroke-width: 8px;
}

.social-icons .linkedin-icon svg {
  width: 4vh;
  stroke-width: 1.5px;
}

.social-icons .fb-icon svg {
  width: 6vh;
  stroke-width: 15px;
}

.social-icons .insta-icon svg {
  width: 4vh;
  stroke-width: 1.5px;
}

.social-icons ul .vr-line {
  border-left: 0.2vw solid var(--ter-color);
  height: 38%;
}

/* ---------------------------home-content Style--------------------- */

.bg-home {
  position: relative;
  background-image: url("/img/bg-home.jpg");
  background-position: center;
  background-size: 140%;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
}

.bg-home::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.85;
  height: 100%;
  width: 100vw;
}

/* -----changing home section default setting------ */
.home-section {
  position: absolute;
  top: 0;
  left: 8.5%;
}

.home-content {
  margin: 0 6%;
  margin-top: 4%;
}

.home-content .typed-effect-home {
  display: inline-block;
  color: var(--sec-color);
  color: white;
  font-family: var(--ter-font);
  font-size: 1.1rem;
  margin-top: -1%;
}

.home-content p:nth-child(5) {
  width: 30vw;
  text-align: justify;
  margin-bottom: 5%;
}
.home-content p:nth-child(5) a {
  color: var(--pri-color);
  font-weight: 600;
  transition: text-decoration 1s ease-in;
}

.home-content p:nth-child(5) a:hover {
  text-decoration: underline;
}
.home-content h1 {
  color: #e3e3e3;
  font-family: var(--pri-font);
  font-weight: bolder;
  font-size: 3.5rem;
  margin-top: 2%;
}

.home-content h3 {
  color: var(--pri-color-d1);
  font-family: var(--pri-font);
  font-weight: bolder;
  font-size: 3rem;
  margin-bottom: 2.5%;
}


/* -------------------About section content styling ---------------*/

 /* ------------------------about section css ------------------*/

 .about {
  width: 60%;
  margin-right: 10%;
}

.about p {
  padding: 3% 0;
  font-size: 1.1rem;
  text-align: justify;
}

.about-img-div {
  width: 30%;
  margin: auto;
  position: relative;
  opacity: 1;
  background-color: var(--pri-color);
  transition: background-color 0.3s ease-in;
}

.about-img-div img {
  width: 100%;
  position: relative;
  filter: brightness(1.1);
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.about-img-div img:hover {
  opacity: 1;
}

.about-img-div:hover {
  background-color: var(--ter-color-d2);
}

.bg-about {
  position: relative;
  z-index: 0;
}

.about-img-div::before {
  content: "";
  position: absolute;
  top: 20%;
  right: -1%;
  width: 100%;
  height: 80%;
  border: 3px solid var(--pri-color-d1);
  z-index: -1;
  box-shadow: 0 0 1px var(--ter-color-d1), 0 0 5px #29171c,
    0 0 10px #8d1130, -0 0 15px var(--pri-color);
  transform: scale(1.1);
  transition: transform 0.3s ease-in;
}

.about-img-div:hover::before {
  transform: scale(1.05);
}

.cont-head-div {
  margin-top: 8%;
}

/* ------------------------projects section css ------------------*/

.project-cont-div {
  margin-bottom: 15%;
  position: relative;
  height: 50vh;
}

.project-img-div {
  position: relative;
  left: -22%;
  top: 0%;
  width: 40vw;
  background-color: var(--pri-color);
}

.project-img-div img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  box-shadow: 3px 3px 10px black;
}

.project-img-div img:hover {
  opacity: 1;
}

.project-img-div:hover {
  transform: scale(0.99);
}

.project-text {
  position: absolute;
  right: -5%;
  top: 23%;
  /* new line  */
  width: 58%;
  height: 16vh;
  margin-left: 5%;
  text-align: right;

}

.project-text h2 {
  margin-bottom: 4%;

}

.project-text h2 a {
  color: var(--ter-color-l2);
  font-family: var(--pri-font);
  font-weight: 600;
  font-size: 1.5rem;
  transition: color 0.3s ease;

}

.project-text a:hover {
  color: var(--pri-color);
}

.project-text p {
  
  background-color: var(--ter-color-d1);
  box-shadow: 5px 3px 15px black;
  opacity: 0.9;
  border-radius: 4px;
  padding: 3% 3%;
  font-size: 0.9rem;

}
.project-text ul {
  display: flex;
  color: var(--ter-color-l2);
  font-family: var(--ter-font);
  justify-content: right;
}

.project-text li {
  margin-left: 5%;
  margin-top: 2%;
}

.project-icons {
  width: 100%;
  margin-top: 5%;
}

.project-icons i {
  color: var(--ter-color-l1);
  transform: scale(1.5);
  margin: 0 4%;
  position: relative;
  top: 0;
  transition: top 0.3s ease;


}

.project-icons i:hover {
  color: var(--pri-color);
  top: -0.7vh;

}

.flex-reverse {
  flex-direction: row-reverse;
}


.marg-reset-img {
  left: 22%;
}

.marg-reset-text {
  margin-left: 0;
  text-align: left;
  left: -5%;
}

/*------------- other projects style --------------- */
.other-proj-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.other-projects {
  width: 50%;
  height: 55vh;
  text-align: left;
  margin: 5%;
}

.other-proj-img-div {
  background-color: var(--pri-color);
  position: relative;
  width: 100%;
}

.other-projects img {
  width: 100%;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.other-projects img:hover {

  opacity: 1;
}

.other-projects h3 {
  font-family: var(--pri-font);
  color: var(--ter-color-l2);
  margin: 5% 0;
}

.other-projects p {
  font-size: 0.9rem;
}

.other-projects i {
  margin-left: 1%;
  margin-top: 2%;
  transform: scale(1.7);
}


/* ------------------experience section styling ------------- */
.exp-section {
  height: 100%;
  display: flex;
  align-items: center;
  /* background-color: pink; */
}
.content-exp{
  margin-top: -2px;
}
.exp-content {
  /* border: 2px solid rgb(12, 248, 228); */
  width: 70%;
  height: 50%;
  position: relative;
  display: flex;
  margin: auto;
}

.cont-head-exp {
  width: 70%;
  margin-left: auto;
  margin-right: auto;

}

.cont-head-exp hr {
  width: 100%;
}

.exp-content .left-div {
  /* border: 2px solid pink; */
  width: 30%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  margin: 0 3%;

}

.exp-content .left-div .item-div {
  /* border: 2px solid green; */
  height: 100%;
  justify-content: space-between;
  margin: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.exp-content .left-div .item-div span {
  font-family: var(--pri-font);
  font-weight: 600;
  font-size: 0.8rem;
}

.exp-content .left-div .item-div:hover {
  cursor: pointer;
  background-color: var(--ter-color-d3);
  color: var(--pri-color);
}

.exp-content .right-div {
  width: 100%;
}

.exp-content .right-div h2 {
  color: var(--ter-color-l2);
  font-family: var(--pri-font);
  margin: 0 0;
}

.exp-content .right-div p {
 
  margin: 3% 0;
}

.exp-content .right-div ul {
  margin: 5% 0;
}

.exp-content .right-div li {
  color: var(--ter-color-l1);
  font-family: var(--sec-font);
  margin: 2% 0;
  font-size: 0.83rem;
  margin-bottom: 4%;
}

.right-div-show {
  display: inline-block;

}

.right-div-hide {
  display: none;
}

.item-div-not-active {
  border-left: 2px solid var(--ter-color-l1);
  color: var(--ter-color-l1);
  transition: color 0.3s ease-in;
  transition: background-color 1s ease-in;
  transition: border-left 0.2s ease-in-out;

}

.item-div-active {
  border-left: 2px solid var(--pri-color-d1);
  background-color: var(--ter-color-d3);
  color: var(--pri-color);
  transition: color 0.3s ease-in;
  transition: background-color 1s ease-in;
  transition: border-left 0.2s ease-in-out;
}

/* -----------contact section style ------------- */
.contact-section .contact-content {
  position: relative;
  bottom: -20vh;
  width: 50%;

}
.contact-content p {
  height: 24%;
  /* new line  */
  margin-top: 10%;
  text-align: center;
}

.btn-contact {
  margin-top: 5%;
  text-align: center;
}

.btn-contact .btn{
  width: 50%;
}



















/* -----------------------------------------End - homepage design---------------------------------------- */
